body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

#root {
  padding-top: 1rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.controls__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.controls__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.controls__bottom-main {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0.3rem;
}

.row {
  display: flex;
  gap: 1px;
}

.cell {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #dedede;
  padding: 0.1rem;
  border-right: 1px solid #ffffff;
}

.alive {
  background-color: #000000;
}

.wrap-inp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inp {
  max-width: 10rem;
}

.btn {
  width: 100%;
}
